<body>
    <div class="container mt-5">
      <h2 class="text-center">Excluir Ensaio</h2>
      <p class="text-center text-danger font-weight-bold">Você deseja realmente excluir esse produto? Essa ação não poderá ser desfeita.</p>
      <div class="d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-secondary mr-3" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="excluirProduto()">Excluir</button>
      </div>
    </div>
  </body>
  