<div class="container mt-5">
    <h2 class="text-center mb-5">Fornecedores Cadastrados</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descrição</th>
          <th scope="col">CNPJ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedores?.Registros ">
          <th scope="row">{{fornecedor.Id}}</th>
          <td>{{fornecedor.Descricao}}</td>
          <td>{{fornecedor.Cnpj}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
